# macOS
.DS_Store
.AppleDouble
.LSOverride

# macOS Thumbnails
._*

# macOS Directories
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent


target/
